
<li {{action "open"}}>
  <strong>{{book.title}}</strong><br><br>
  <em>by</em>
{{link-to book.author.name 'author' book.author.id class="author" }}
</li>

{{#if isShowingModal}}
  {{#modal-dialog close="close" clickOutsideToClose=true}}

    <div class="modal">
      <h3>Purchase confirmation</h3>
      You want to buy <strong>{{book.title}}</strong> by {{book.author.name}} for ${{format-currency book.price}}.

      <p>
        <button {{action "close"}}>Never mind</button>
        <button {{action "addToCart" book.title book.author.name book.price }}>Yes, add to my cart!</button>
      </p>
    </div>

  {{/modal-dialog}}
{{/if}}